// banner scss
// full width banner
.c-banner {
  padding: 0;
  &__left {
    max-width: 540px;
    margin-left: auto;
    margin-right: 40px;
  }
  &__pre {
    @include rfs(96px);
    line-height: 1;
    color: $orange1;
    font-weight: 800;
  }
  &__title {
    @include rfs(71px);
    line-height: 1.2;
    color: $black_3;
    font-weight: 700;
    letter-spacing: -2.6px;
  }
  &__subtitle {
    @include rfs(38px);
    line-height: 1.2;
    color: $black_3;
    margin-top: 20px;
  }
  &__cta {
    margin-top: 36px;
    border-color: $lines;
    color: $black_3;
    @include rfs(30px);
    font-weight: 700;
    padding: 16px 30px;
    border-width: 2px;
  }
  &__image {
    width: 100%;
  }
}
