.homestats,
.countings {
  @include margin-top(42px);
  position: relative;
  display: block;
  overflow: hidden;
  background-color: $black_1;
  @include padding-top(176px);
  @include padding-bottom(176px);
  @include media-bp(mdl) {
    margin-top: 0;
    padding-left: $mobilePad;
    padding-right: $mobilePad;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: radial-gradient(circle at center, #b94609, transparent) 0% 0% no-repeat padding-box;
    opacity: 0.5;
    z-index: 1;
  }
  &::before {
    left: 0;
    transform: translateX(-50%);
  }
  &::after {
    right: 0;
    transform: translateX(50%);
  }
  &__container {
    @include media-bp(mdl) {
      position: relative;
      z-index: 2;
    }
  }
  &__grid {
    display: flex;
    justify-content: center;
    @include media-bp(mdl) {
      row-gap: 30px;
      overflow: hidden;
      overflow-x: scroll;
      justify-content: flex-start;
      scroll-snap-type: x mandatory;
    }
  }
  &__stat {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    text-align: center;
    @include padding-left(40px);
    @include padding-right(40px);
    @include media-bp(mdl) {
      flex-shrink: 0;
      scroll-snap-align: center;
    }
    &:not(:first-child) {
      border-left: 1px solid $white;
    }
    &:first-child {
      @include media-bp(mdl) {
        padding-left: 0;
      }
    }
    &:last-child {
      @include media-bp(mdl) {
        padding-right: 0;
      }
    }
    &Count {
      @include rfs(80px);
      font-weight: 300;
      letter-spacing: normal;
      line-height: toRem(98);
      color: $white;
      @include media-bp(mdl) {
        line-height: 1.15;
        font-size: 46px;
        letter-spacing: normal;
      }
    }
    &Title {
      @include rfs(22px);
      line-height: toRem(27);
      letter-spacing: normal;
      font-weight: 700;
      color: $orange1;
      @include media-bp(mdl) {
        font-size: 14px;
        line-height: 1.25;
        letter-spacing: normal;
      }
    }
  }
}

.countings {
  background-color: $white;
  margin-top: 0;
  &::before,
  &::after {
    content: none;
  }
  &__stat {
    @include media-bp(mdl) {
      max-width: 210px;
    }
    &Pre {
      color: $black_1;
      @include rfs(20px);
      line-height: 1.2;
      letter-spacing: normal;
      font-weight: 500;
      width: 100%;
      text-align: left;
    }
    &Count {
      @include rfs(90px);
      letter-spacing: normal;
      line-height: 1.2;
      color: $orange1;
      font-weight: 800;
      transition: none;
      .statcount {
        transition: none;
        font: inherit;
      }
    }
    &Title {
      color: $black_1;
      @include rfs(26px);
      line-height: 1.2;
      letter-spacing: normal;
      font-weight: 500;
      max-width: 290px;
    }
  }
  &.-bgGray {
    background-color: $gray6;
  }
  &.-bigStats {
    @include padding-top(100px);
    @include padding-bottom(100px);
    .countings__statCount {
      line-height: 0.8;
      @include rfs(94px);
    }
    .countings__statTitle {
      @include rfs(22px);
    }
  }
}

// pagination
.homestats{
  &__pagination {
    @include margin-top(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &__bullets {
    width: 9px;
    height: 9px;
    border-radius: 0;
    background-color: $white;
    border: 1px solid $lines;
    box-sizing: border-box;
    &.-active {
      background-color: $orange1;
    }
  }
}