// navbar
@import "../rfs";
.navbar {
  @include padding-left(49px);
  @include padding-right(49px);
  @include padding-top(25px);
  @include padding-bottom(25px);
  z-index: 99999;
  &-nav {
    gap: 30px;
  }
  .nav-item {
    &.active {
      .nav-link {
        color: $orange1;
        // font-weight: 700;
      }
    }
    &:hover {
      .nav-link {
        color: $orange1;
        // font-weight: 700;
      }
    }
    .nav-link {
      padding: 0;
      color: $gray;
      @include rfs(21px);
      font-family: inherit;
      font-weight: 500;
    }
  }
  .dropdown-menu {
    min-width: max-content;
  }
  .dropdown-item:hover {
    background-color: $orange1;
    color: $white;
  }
  .dropdown-toggle::after {
    content: none;
  }
  .requestBtn {
    position: relative;
    img {
      position: absolute;
      left: -13px;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: -1;
    }
    &:focus {
      box-shadow: none;
      border-color: $white;
      outline: none;
    }
  }
  @include media-bp(mdl) {
    transition: max-height 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    &-toggler {
      border: 0;
      padding: 4px 3px;
    }
    &-collapse {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      &.show {
        max-height: 100vh;
      }
    }
  }
}
