// navbar
@import "../rfs";
.navbar {
  @include padding-left(49px);
  @include padding-right(49px);
  @include padding-top(25px);
  @include padding-bottom(25px);
  z-index: 99999;
  &-nav {
    gap: 30px;
  }
  .nav-item {
    &.active {
      .nav-link {
        color: $orange1;
        font-weight: 700;
      }
    }
    &:hover {
      .nav-link {
        color: $orange1;
        font-weight: 700;
      }
    }
    .nav-link {
      padding: 0;
      color: $gray;
      @include rfs(21px);
      font-family: inherit;
      font-weight: 500;
    }
  }
  .dropdown-menu {
    min-width: max-content;
  }
  .dropdown-item:hover {
    background-color: $orange1;
    color: $white;
  }
  .dropdown-toggle::after {
    content: none;
  }
  .requestBtn {
    position: relative;
    img {
      position: absolute;
      left: -13px;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: -1;
    }
    &:focus {
      box-shadow: none;
      border-color: $white;
      outline: none;
    }
  }
}

// @include media-bp(xs) {
//   .navbar {
//     padding-top: toRem(25);
//     padding-left: toRem(10);
//     padding-right: toRem(10);
//     &-brand {
//       min-width: 80px;
//     }
//     &-toggler {
//       border: 0;
//       padding-right: 0;
//       .navbar-toggler-icon {
//         background-image: url("/assets/vectors/menu.svg");
//         background-repeat: no-repeat;
//       }
//     }
//     &-collapse {
//       position: absolute;
//       overflow: hidden;
//       background: black;
//       width: 100vw;
//       height: 100vh;
//       left: -10px;
//       z-index: -1;
//       top: -25px;
//       padding: 1rem;
//       display: flex;
//       flex-direction: column;
//     }
//     & &-nav {
//       margin: auto;
//       margin-top: 140px;
//       & .nav-item {
//         margin-left: auto;
//         margin-right: auto;
//         &:not(:last-child) {
//           margin-bottom: 48px;
//         }
//         .nav-link {
//           font-family: "Butler";
//           font-weight: 300;
//           font-style: normal;
//           font-size: 32px;
//           line-height: 26px;
//         }
//         &.active {
//           .nav-link {
//             border: 0;
//             color: $orange1;
//           }
//         }
//       }
//     }
//   }
// }
// @include media-bp(tablet) {
//   .navbar {
//     padding-top: 25px;
//     padding-left: 35px;
//     padding-right: 35px;
//     &-brand {
//       min-width: 80px;
//       width: 100px;
//     }
//     &-toggler {
//       border: 0;
//       padding-right: 0;
//       .navbar-toggler-icon {
//         background-image: url("/assets/vectors/menu.svg");
//         background-repeat: no-repeat;
//         max-height: 20px;
//       }
//     }
//     &-collapse {
//       position: absolute;
//       overflow: hidden;
//       background: black;
//       width: 100vw;
//       height: 100vh;
//       left: -35px;
//       z-index: -1;
//       top: -25px;
//       padding: 1rem;
//       display: flex;
//       flex-direction: column;
//     }
//     & &-nav {
//       margin: auto;
//       margin-top: 140px;
//       & .nav-item {
//         margin-left: auto;
//         margin-right: auto;
//         &:not(:last-child) {
//           margin-bottom: 48px;
//         }
//         .nav-link {
//           font-family: "Butler";
//           font-weight: 300;
//           font-style: normal;
//           font-size: 32px;
//           line-height: 26px;
//         }
//         &.active {
//           .nav-link {
//             border: 0;
//             color: $orange1;
//           }
//         }
//       }
//     }
//   }
// }
