.c-textLinks{
    position: relative;
    display: block;
    @include padding-top(160px);
    @include padding-bottom(160px);
    &__listing {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__link {
        display: flex;
        flex-direction: column;
        &Title {
            @include rfs(36px);
            font-weight: 700;
            line-height: normal;
        }
        &Subtitle {
            @include rfs(20px);
            font-weight: normal;
            @include margin-top(10px);
        }
    }
}
.scaiTabs + .c-textLinks {
    padding-top: 0;
}