@import "../variable";
@import "../mixin";
@import "../rfs";

.currentOpenings {
  &__banner {
    margin-top: 97px;
    position: relative;
    display: block;
    @include media-bp(lg) {
      .row > :first-child {
        position: absolute;
        // top: 0;
        right: 0;
        bottom: 0;
        @include padding(60px);
        background-color: $orange1;
        z-index: 2;
        margin: auto;
      }
      // .col-md-12 {
      //   @include margin-top(100px);
      // }
      .c-banner__left {
        max-width: 100%;
      }
    }
    @include media-bp(mdl) {
      .row > :first-child {
        @include padding(10px);
        background-color: $orange1;
        z-index: 2;
      }
      .c-banner__title  {
        letter-spacing: normal;
      }
    }
  }
  &__openings {
    position: relative;
    display: block;
    @include padding-top(100px);
    @include padding-bottom(100px);
    &Title {
      @include rfs(38px);
      line-height: 1.2;
      color: $black_3;
      font-weight: 700;
    }
    &Subtitle {
      @include rfs(20px);
      line-height: 1.2;
      color: $black_1;
      font-weight: 400;
      @include margin-top(10px);
    }
    &Form {
      // display: flex;
      display: grid;
      grid-template-columns: 1.15fr 2fr 1.15fr 0.4fr;
      gap: 10px;
      @include margin-top(40px);
      @include media-bp(mdl) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .currentOpenings__formLabel {
      margin-bottom: 0;
    }
    .currentOpenings__formInput::placeholder {
      @include rfs(16px);
      color: $black_1;
      line-height: 1.2;
    }
    .currentOpenings__formSelect,
    .currentOpenings__formInput {
      position: relative;
      background-color: $gray7;
      @include rfs(16px);
      color: $black_1;
      line-height: normal;
      padding: 0.5rem 3rem 0.5rem 1.2rem;
      border: 0;
      min-height: 60px;
      width: 100%;
    }
    .currentOpenings__formSelect {
      appearance: none;
      background-image: url(/assets/svgs/icons8-expand-arrow-50.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) 22px;
      background-size: 20px;
      @include media-bp(mdl) {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .currentOpenings__formLabel[for="jobtitle"] .currentOpenings__formInput {
      background-image: url(/assets/svgs/icons8-briefcase-64.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) center;
      background-size: 20px;
    }
    .currentOpenings__formLabel[for="location"] .currentOpenings__formInput {
      background-image: url(/assets/svgs/icons8-location-100.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) center;
      background-size: 20px;
    }
    .currentOpenings__formSubmit {
      background-color: $orange1;
      position: relative;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      svg {
        width: 30px;
        height: 30px;
        path {
          fill: $white;
        }
      }
    }
  }
  &__jobGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include margin-top(100px);
    @include media-bp(mdl) {
      grid-template-columns: 1fr;
    }
  }
  &__job {
    position: relative;
    display: block;
    border: 2px solid $gray7;
    min-height: 370px;
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }
    &Preview {
      display: flex;
      z-index: 1;
      flex-direction: column;
      position: relative;
      height: 100%;
      justify-content: space-between;
      &Top {
        @include padding-top(150px);
        @include padding-bottom(50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include media-bp(mdl) {
          @include padding-top(350px);
        }
      }
      &Bottom {
        display: flex;
        justify-content: space-between;
      }
      &Bottom:not(.-invert) {
        @include padding(30px);
        background-color: $black_3;
      }
      &Bottom.-invert {
        justify-content: flex-start;
        gap: 30px;
        margin-top: 10px;
        span {
          color: $black_1;
          @include rfs(16px);
        }
        img {
          width: 20px;
        }
      }
    }
    &Pre {
      @include rfs(20px);
      line-height: normal;
      color: $black_1;
    }
    &Title {
      @include rfs(30px);
      line-height: normal;
      font-weight: bold;
      color: $black_1;
    }
    &Title + &Pre {
      margin-top: 10px;
    }
    &Desc {
      @include rfs(14px);
      line-height: normal;
      letter-spacing: normal;
      margin-top: 10px;
    }
    &Apply {
      padding-bottom: 4px;
      border-bottom: 2px solid $white;
      text-align: left;
      // margin-top: 10px;
      margin-left: auto;
      &:hover {
        border-color: $orange1;
      }
    }
    &Location,
    &Exp {
      display: flex;
      gap: 10px;
      align-items: center;
      img {
        width: 24px;
        height: auto;
      }
      span {
        @include rfs(18px);
        line-height: normal;
        letter-spacing: normal;
        color: $white;
      }
    }
    &:hover &Details {
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
    &Details {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      visibility: hidden;
      background-color: $gray7;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      opacity: 0;
      z-index: -1;
      transition: opacity 0.4s ease;
      @include padding(30px);
      justify-content: center;
    }
  }
}

