// variables
$font_size_base: 16px;
$black_1: #000;
$black_2: #252425;
$white: #FFFFFF;
$gray: #707070;
$gray2: #4E4E4E;
$gray3: #00000024;
$gray4: #4b4b4b;
$orange1: #E35125;
$orange2: #DF8263;
$mobilePad: 35px;

// sass function px to rem
@function toRem($val) {
    $remVal: calc($val / 16) + rem;
    @return $remVal;
}