// variables
$font_size_base: 16px;
$black_1: #000;
$black_2: #252425;
$black_3: #1d1d1b;
$white: #FFFFFF;
$gray: #707070;
$gray2: #4E4E4E;
$gray3: #00000024;
$gray4: #4b4b4b;
$gray5: #e3e3e3;
$gray6: #f4f4f4;
$lines: #d5d5d4;
// $orange1: #E35125;
$orange1: #e94f1c;
$orange2: #DF8263;
$mobilePad: 35px;
$gradient1: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(2, 1, 1, 1) 30%, rgba(106, 44, 27, 1) 100%);

// sass function px to rem
@function toRem($val) {
    $remVal: calc($val / 16) + rem;
    @return $remVal;
}