// Imports of libs & files
@import "./variable";
@import "./mixin";
@import "./rfs";

// !made bootstrap changes here
@import "./bootstrap-customized";

// body style
body {
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $black_1;
  font-size: $font_size_base;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  &.modal-open {
    padding: 0 !important;
  }
}

*:not(.slick-track):not(.slick-list):not(.slick-slide) {
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  word-wrap: break-word;
  word-break: normal;
  text-overflow: clip;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
  margin-bottom: 0;
}

// img style
img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

picture {
  position: relative;
  display: block;
  // width: 100%;
  height: auto;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $orange1;
  }
}

button {
  appearance: none;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  &:focus,
  &:focus-visible,
  &:focus-within {
    box-shadow: none;
    border-color: inherit;
  }
}

*:focus,
*:focus-visible,
*:focus-within {
  outline: 0;
}

// components styles
@import "./components/navbar";
@import "./components/banner";
@import "./components/accordion";
@import "./components/textLinks";
@import "./components/countingStats";
@import "./components/textContent";
@import "./components/fullBanner";
@import "./components/get-in-touch";
@import "./components/subscribe";
@import "./components/footer";

.animate-text {
  display: inline-block;
}

.dd-f {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-primary {
  color: $orange1 !important;
}

.form-control {
  min-height: 73px;
  background-color: $gray2;
  border-radius: 5px;
  border: none;
  padding: 20px;
  // @include rfs(27px);
  @include rfs(20px);
  line-height: 1.2;
  letter-spacing: toRem(-0.27);
  width: 100%;
  box-shadow: none;
  color: rgba($white, 0.7);
  border-radius: 0;
  @include media-bp(mdl) {
    min-height: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: $gray2;
  color: $white;
}

.form-control::placeholder {
  color: rgba($white, 0.7);
  @include rfs(20px);
  line-height: 1.2;
  letter-spacing: toRem(-0.27);
  @include media-bp(mdl) {
    min-height: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.particlecanvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

@keyframes arrowDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0;
    transform: translateY(10px);
  }
  60% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.btn-dark,
btn-outline-dark:hover {
  background-color: $black_3;
  color: $white;
}

.hImgContainer {
  overflow: hidden;
  width: 100%;
  height: max-content;
}
.hImg {
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.hImgContainer:hover > .hImg {
  transform: scale3d(1.1, 1.1, 1.1);
}

.ibpBiz {
  &__title {
    @include rfs(30px);
    line-height: 1.25;
    letter-spacing: normal;
    font-weight: 700;
    @include margin-top(80px);
    @include margin-bottom(80px);
  }
  .accordion {
    display: flex;
    flex-direction: column;
    // gap: 20px;
    gap: 40px;
    @include margin-bottom(60px);
  }
}

.bgParticle {
  background: url(../../assets/images/particles.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.dropdown-submenu {
  position: relative;
}
@media only screen and (min-width: 769px) {
  .dropdown-submenu:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}
.dropdown-menu {
  top: 94%;
}
.dropdown-submenu .dropdown-menu {
  left: 100%;
  top: -12px;
}
@media only screen and (min-width: 769px) {
  .dropdown-submenu .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    left: 100%;
    top: -12px;
  }
}
// .dropdown-menu > .dropdown-submenu > ul {
//   display: none;
// }

// .dropdown-menu > .dropdown-submenu > .show {
//   display: block;
// }

.aboutUs {
  & > .c-fullBanner:first-of-type {
    margin-top: 97px;
    margin-bottom: 0;
  }
  .missionVision {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 180px;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: $orange1;

      @media only screen and (min-width: 1000px) {
        width: 6.5%;
      }
      @media only screen and (min-width: 1200px) {
        width: 10%;
      }
      @media only screen and (min-width: 1500px) {
        width: 14%;
      }
      @media only screen and (min-width: 1900px) {
        width: 21.5%;
      }

      @include media-bp(mdl) {
        display: none;
      }
    }

    .mv-borderLine {
      border-left: 2px solid #333;

      @include media-bp(mdl) {
        border: none;
        margin-top: 30px;
      }
    }

    .mv-wrapL {
      // padding-right: 40px;
      width: 80%;
      margin: auto auto;

      @include media-bp(mdl) {
        width: 100%;
        padding: 0 15px;
      }
    }

    .mv-wrapR {
      // padding-left: 40px;
      width: 80%;
      margin: auto auto;

      @include media-bp(mdl) {
        width: 100%;
        padding: 0 15px;
      }
    }

    .mv-banner {
      margin-top: 60px;

      @include media-bp(mdl) {
        margin-top: 30px;
      }
    }
  }
}

.threeSC__value {
  &Wrap {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;

    @include media-bp(mdl) {
      display: block;
    }

    .threeSC__valueCard {
      position: relative;
      list-style: none;
      transition: all 0.6s ease;
      flex: 1;
      //flex: 0 0 16.25%;
      padding: 40px;
      //padding-top: 130px;
      border: 2px solid $lines;
      cursor: pointer;
      overflow: hidden;
      animation: fadeC 0.8s linear;
      -webkit-animation: fadeC 0.8s linear;
      height: 550px;

      @include media-bp(mdl) {
        height: auto;
        padding: 20px;

        &:not(:last-child) {
          border-bottom: none;
        }
      }

      @keyframes spinner {
        to {
          transform: rotate(360deg);
        }
      }

      &.-cardBlur::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 1);
        backdrop-filter: blur(15px);
      }

      &.-cardBlur::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: $orange1;
        border-bottom-color: $orange1;
        animation: spinner 0.8s ease infinite;
        z-index: 2;
        -webkit-animation: spinner 0.8s ease infinite;

        @include media-bp(mdl) {
          left: 48%;
        }
      }

      &.-cardActive {
        padding: 40px;
        background-color: $orange1;
        border-color: $orange1;
        flex: 0 0 35%;
        animation: fadeC 0.8s linear;
        -webkit-animation: fadeC 0.8s linear;

        @include media-bp(mdl) {
          padding: 40px 20px;
        }

        .threeSC__valueCardPara {
          display: block;
          margin-top: 10px;
        }

        .threeSC__valueCardTitle {
          position: relative;
          transform: none;
          white-space: normal;
          writing-mode: unset;
          color: #fff;
          // font-size: 36px;
          @include rfs(36px);
          margin-top: 10px;
        }

        .threeSC__valueCardPara {
          color: #fff;
          @include rfs(20px);
          // font-size: 20px;
        }

        .threeSC__valueCardBody {
          position: relative;
          display: flex;
          gap: 0;
          align-items: flex-start;
          justify-content: center;

          .threeSC__valueCardIcon {
            order: 0;
          }
          .threeSC__valueCardIcon :first-child {
            display: block;
          }
          .threeSC__valueCardIcon :last-child {
            display: none;
          }
        }
      }

      .threeSC__valueCardBody {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        gap: 30px;

        @include media-bp(mdl) {
          gap: 10px;
          align-items: flex-start;
        }
      }

      .threeSC__valueCardIcon {
        order: 1;
      }

      .threeSC__valueCardIcon :first-child {
        display: none;
      }
      .threeSC__valueCardIcon :last-child {
        display: block;
      }

      .threeSC__valueCardTitle {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        white-space: nowrap;
        margin: 0;
        @include rfs(35px);
        // font-size: 35px;
        transition: opacity 1s linear;
        -webkit-transition: opacity 1s linear;
        -moz-transition: opacity 1s linear;
        -ms-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;

        @include media-bp(mdl) {
          order: 2;
          transform: none;
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          writing-mode: unset;
          -webkit-writing-mode: unset;
          -ms-writing-mode: unset;
          white-space: normal;
          font-size: 28px !important;
        }
      }

      .threeSC__valueCardPara {
        display: none;

        @include media-bp(mdl) {
          @include rfs(16px);
          order: 3;
          // font-size: 16px;
        }
      }

      @keyframes fadeC {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }
}

// Current Modal Opening
.currentOpeningModal {
  padding: 0 !important;
  z-index: 100000;

  .modal-dialog {
    width: 100vw;
    max-width: 1400px;
  }

  .form-control-2 {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    .form-control-2 {
      transition: none;
    }
  }

  .form-control-2::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  .form-control-2:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .form-control-2::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  .form-control-2::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  .form-control-2:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  .form-control-2::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  .form-control-2::placeholder {
    color: #6c757d;
    opacity: 1;
  }

  .custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "+";
    background-color: $white;
    border-left: 0;
  }

  .cOpen-banner {
    // height: 300px;

    @include media-bp(mdl) {
      height: auto;
      margin-bottom: 15px;
    }
  }

  .col-md-6.pl-0 {
    @include media-bp(mdl) {
      padding-left: 15px !important;
    }
  }

  // .modal-body.pl-0 {
  //   padding-left: 15px !important;
  // }

  .modal-dialog {
    @include media-bp(mdl) {
      margin: 10px auto;
    }
  }
}

.modal-backdrop {
  z-index: 99999;
}
.modal:not(.show) {
  z-index: -9;
}
.modal.show {
  z-index: 100000;
}
.duplottie {
  height: 1px !important;
}

@media only screen and (min-width: 769px) {
  .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
}
@media only screen and (max-width: 768px) {
  .dropdown-menu {
    border: 0;
    @include padding-left(10px);
    // border-top: 0;
    // border-right: 0;
    // border-bottom: 0;
  }
  .dropdown-menu > li:not(:first-child) {
    border-top: 1px solid $lines;
  }
}
// .c-accordion .container {
//   border-top: 1px solid rgba(0, 0, 0, 0.1411764706);
// }

// .ibpBiz .accordion {
//   gap: 0;
// }
@include media-bp(mdl) {
  section {
    overflow: hidden;
  }
}
form {
  position: relative;
}
.c-formResponse {
  background-color: $white;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -10;
  &.-bgdark {
    background-color: #000;
  }
  &.-show {
    z-index: 9;
    opacity: 1;
  }
  &__title {
    @include rfs(32px);
    font-weight: bold;
    color: $orange1;
    text-align: center;
  }
}
form.-success .c-formResponse {
  z-index: 9;
  opacity: 1;
}
.currentOpeningModal .modal-content,
.requestForm .modal-content {
  background: $gradient1;
}
.requestForm {
  @include padding-left(60px);
  border-left: 1px solid $lines;
  display: flex;
  flex-direction: column;
  @include media-bp(mdl) {
    border-left: 0;
    padding-left: 0;
  }
  &__title {
    @include rfs(32px);
    font-weight: bold;
  }
  &__para {
    @include rfs(22px);
    font-weight: 400;
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }
  label {
    color: $white;
    font-weight: 500;
    margin-top: 10px;
  }
  .form-control {
    background-color: transparent;
    border-bottom: 2px solid $white;
    padding: 0;
    min-height: 40px;
    color: $white;
    @include rfs(16px);
  }
  // button[type="submit"] {
  //   border-color: $black_1;
  //   color: $orange1;
  //   &:hover {
  //     color: $white;
  //     background-color: $orange1;
  //     border-color: $orange1;
  //   }
  // }
}
.awards {
  @include padding-bottom(120px);
  @include media-bp(mdl) {
    @include padding-bottom(200px);
  }
  &__title {
    @include rfs(35px);
    line-height: 1.25;
    letter-spacing: normal;
    font-weight: 700;
    @include margin-bottom(60px);
    text-align: center;
    color: $orange1;
  }
  &__carousel {
    display: flex;
    flex-flow: row nowrap;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    max-width: 400px;
    // padding: 0 20px;
    margin: 0 20px;
    padding: 10px;
    border: 1px solid $orange1;
    box-shadow: 0px 0px 20px #d5d5d4;
    &Img {
      width: 100%;
      height: auto;
    }
    &Img + &Para {
      @include margin-top(18px);
      font-weight: 700;
    }
    &Para {
      @include rfs(18px);
      word-wrap: break-word;
      @include margin-top(6px);
    }
  }
  .slick-dots {
    bottom: -50px;
  }

  .slick-dots li button:before {
    font-size: 14px;

    @include media-bp(mdl) {
      font-size: 12px;
    }
  }

  .slick-dots li.slick-active button:before {
    opacity: 0.85;
    color: $orange1;
  }

  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before {
    color: $orange1;
  }
}
.timeline {
  padding-bottom: 60px;
  &__title {
    @include rfs(38px);
    font-weight: 700;
    position: sticky;
    top: 60px;
    text-align: center;
    color: $orange1;
    z-index: 99;
    margin-top: -40px;
    @include media-bp(mdl) {
      margin-top: -30px;
      top: 18px;
    }
  }
  .container-fluid {
    overflow-y: auto;
    background-color: #efefef;
    @media only screen and (min-width: 769px) {
      max-height: 600px;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
    & {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer and Edge */
    }
  }
  .row {
    @for $i from 1 through 12 {
      [class^="col"]:nth-child(#{$i}) {
        padding-bottom: 4rem;
        padding-top: 4rem + 8rem * ($i - 1);
      }
    }
    @include media-bp(mdl) {
      & > [class^="col"] {
        padding-bottom: 0 !important;
      }
      & > [class^="col"]:not(:first-child):nth-child(odd) {
        border-left: 0;
      }
      & > [class^="col"]:nth-child(odd) {
        padding-top: 4rem;
      }
      & > [class^="col"]:nth-child(even) {
        padding-top: 12rem;
      }
      &:last-child {
        padding-bottom: 2rem;
      }
    }
    & > [class^="col"]:not(:first-child) {
      border-left: 4px solid #d7d7d7;
    }
  }
  &__card {
    max-width: 90%;
    opacity: 0;
    transition: 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    &.show-card {
      opacity: 1;
    }
    &Date {
      font-weight: 700;
      color: $black_1;
      margin-top: 5px;
      @include rfs(22px);
    }
    &Title {
      font-weight: 700;
      color: $orange1;
      margin-top: 5px;
      @include rfs(20px);
    }
    &Para {
      font-weight: 400;
      color: $black_1;
      margin-top: 5px;
      @include rfs(18px);
    }
  }
}
