// Imports of libs & files
@import "./variable";
@import "./mixin";
@import "./rfs";

// !made bootstrap changes here
@import "./bootstrap-customized";

// body style
body {
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $black_1;
  font-size: $font_size_base;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  &.modal-open {
    padding: 0 !important;
  }
}

* {
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  word-wrap: break-word;
  word-break: normal;
  text-overflow: clip;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
  margin-bottom: 0;
}

// img style
img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

picture {
  position: relative;
  display: block;
  // width: 100%;
  height: auto;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $orange1;
  }
}

button {
  appearance: none;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  &:focus,
  &:focus-visible,
  &:focus-within {
    box-shadow: none;
    border-color: inherit;
  }
}

*:focus,
*:focus-visible,
*:focus-within {
  outline: 0;
}

// components styles
@import "./components/navbar";
@import "./components/banner";
@import "./components/accordion";
@import "./components/textLinks";
@import "./components/countingStats";
@import "./components/textContent";
@import "./components/fullBanner";
@import "./components/get-in-touch";
@import "./components/subscribe";
@import "./components/footer";

.animate-text {
  display: inline-block;
}

.dd-f {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-primary {
  color: $orange1 !important;
}

.form-control {
  min-height: 73px;
  background-color: $gray2;
  border-radius: 5px;
  border: none;
  padding: 20px;
  @include rfs(27px);
  line-height: 1.2;
  letter-spacing: toRem(-0.27);
  width: 100%;
  box-shadow: none;
  color: rgba($white, 0.7);
  border-radius: 0;
  @include media-bp(mdl) {
    min-height: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: $gray2;
  color: $white;
}

.form-control::placeholder {
  color: rgba($white, 0.7);
  @include rfs(27px);
  line-height: 1.2;
  letter-spacing: toRem(-0.27);
  @include media-bp(mdl) {
    min-height: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.particlecanvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

@keyframes arrowDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0;
    transform: translateY(10px);
  }
  60% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.btn-dark,
btn-outline-dark:hover {
  background-color: $black_3;
  color: $white;
}

.hImgContainer {
  overflow: hidden;
  width: 100%;
  height: max-content;
}
.hImg {
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.hImgContainer:hover > .hImg {
  transform: scale3d(1.1, 1.1, 1.1);
}

.ibpBiz {
  &__title {
    @include rfs(60px);
    line-height: 1.25;
    letter-spacing: normal;
    font-weight: 700;
    @include margin-top(80px);
    @include margin-bottom(80px);
  }
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include margin-bottom(60px);
  }
}

.bgParticle {
  background: url(../../assets/images/particles.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
